@page "/map"

@*@using Microsoft.JSInterop*@
@inject IJSRuntime JSRuntime

<div id="map" class="map"></div>
<div class="row">
    <div class="col-auto">
        <span class="input-group">
            <label class="input-group-text" for="type">Geometry type:</label>
            <select class="form-select" id="type">
                <option value="Point">Point</option>
                <option value="LineString">LineString</option>
                <option value="Polygon">Polygon</option>
                <option value="Circle">Circle</option>
                <option value="None">None</option>
            </select>
            <input class="form-control" type="button" value="Undo" id="undo">
        </span>
    </div>
</div>

@code {

    //[Parameter]
    //public int countvector { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeAsync<object>("olMap.showMap");
        //await JSRuntime.InvokeVoidAsync("olMap.showMap");
    }

}
